body{
    width: 150vh;
    height: 145vh;
    border: 3px solid  rgb(51, 196, 201);
    margin: 20vh;
    margin-top: 3vh;
}
.total{
    margin-left: 2vh;
}


.parent{
    display: flex;
    flex-flow: row ;
    align-items: center;


}
.contact{
    width: 20vh;
    height: 6vh;
    background-color:  rgb(51, 196, 201);
    margin-left: 10vh;
    margin-bottom: 20vh;
}
.contact h2{
    text-align:center;
    position: relative;
    bottom: 1.2vh;
    transform: translate translateY(-50%);
}
.name{
    margin: 2vh;
    
}
.box{
    display: flex;
    flex-flow: row;
   
}
.dev{
    width: 15vh;
    height: 3vh;
    padding-bottom: 2vh;
    padding: 2px;
    background: rgb(51, 196, 201);
    border-radius: 0.5vh;
}

.dev h3{

    
    text-align:center;
    position: relative;
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}
.rig{
    width: 9vh;
    height: 3vh;
    padding-bottom: 2vh;
    padding: 2px;
    margin-left: 1vh;
    background: rgb(51, 196, 201);
    border-radius: 0.5vh;
}
.rig h3{
    
    text-align:center;
    position: relative;
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}
.aut{
    width: 11vh;
    height: 3vh;
    padding-bottom: 2vh;
    padding: 2px;
    margin-left: 1vh;
    background: rgb(51, 196, 201);
    border-radius: 0.5vh;
}
.aut h3{
    text-align:center;
    position: relative;
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}
.ouv{
    width: 8vh;
    height: 3vh;
    padding-bottom: 2vh;
    padding: 2px;
    margin-left: 1vh;
    background: rgb(51, 196, 201);
    border-radius: 0.5vh;
}
.ouv h3{
    text-align:center;
    position: relative;
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}
.amb{
    width: 11vh;
    height: 3vh;
    padding-bottom: 2vh;
    padding: 2px;
    margin-left: 1vh;
    background: rgb(51, 196, 201);
    border-radius: 0.5vh;
}
.amb h3{
    text-align:center;
    position: relative;
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}
/* .parent1{
    display: flex;
    flex-flow: row;
    align-items: center;
   padding: 5vh;
}
.accueil{
    width: 13vh;
    height: 4vh;
    font-size: 3vh;
    background-color:  rgb(51, 196, 201);
    
}
.Exp{
    width: 17vh;
    font-size: 3vh;
    height: 4vh;
    margin-left: 2vh;
    background-color:  rgb(51, 196, 201);
    
}
.Form{
    width: 16vh;
    height: 4vh;
    font-size: 3vh;
    margin-left: 2vh;
    background-color:  rgb(51, 196, 201);
    
}
.Compet{
    width: 18vh;
    height: 4vh;
    font-size: 3vh;
    margin-left: 2vh;
    background-color:  rgb(51, 196, 201);
    
}
.loisir{
    width: 11vh;
    height: 4vh;
    font-size: 3vh;
    margin-left: 2vh;
    background-color:  rgb(51, 196, 201);
    
}
#text{
    text-align:center;
    position: relative;
    bottom: 1.5vh;
    transform: translate translateY(-50%);
}*/
.text{
    margin-left: 2vh;
}
#line1 ul{
    list-style: none;

}
#line1 ul li{
    background-color: rgb(51, 196, 201);
    width: 18vh;
    border: 2vh solid white;
    border-radius:  3vh;
    height: 4vh;
    text-align: center;
    float: left;
    font-size: 2.5vh;
    line-height: 40px;

}

.exp{
    float: left;
    padding-top: 2vh;
    margin-left: 3vh;
}
.exp p{
  
    margin-left: 1vh;
    font-size: 2vh;

}
.format{
    float: left; 
    padding-top: 2vh;
    margin-left: 3vh;
}
.format p{
    margin-left: 1vh;
    font-size: 2vh;
}
.compt{
   
    margin-top: 6vh;
    padding-top: 2vh;
    margin-left: 3vh;
}
.compt li{
    
    font-size: 2vh;
}
.lois {
   margin-top: 6vh;
   margin-left: 3vh;


}
.lois ul{
    
    font-size: 2vh;
}